body {
  font-family: 'Noto Sans TC', sans-serif;
}

.brand {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 22px black;
}

.navbar .navbar-brand {
  font-size: 1.6rem;
}

.heading-primary {
  color: #ff4215;
  font-family: 'Noto Sans TC', sans-serif;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; //16:9
  overflow: hidden;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-page .page-header.other-page-header {
  height: 25vh;
}

.index-page .brand {
  color: #000;
  border-radius: 6px;
  margin-bottom: 30px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.index-page .brand h1 {
  font-size: 3rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.header-filter:before,
.header-filter:after {
  background: #000000;
  opacity: 0.1;
}
